body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: antiquewhite;
}

#fileInput, #soundFileInput {
  display: none;
}

.testButton {
  margin-bottom: 15px;
}

.callsignInputContainer {
  margin-bottom: 15px;
}

.callsignInput {
  text-transform: uppercase;
}

.container {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
}

.soundTypeSelectorWrapper {
  justify-content: space-evenly;
  display: flex;
  margin: 0 10px;
}

.hidden {
  display: none !important;
}

.callSignConfirmed {
  margin: 9px 0;
}

.callsignValue {
  font-weight: 700;
}
